.dashboard-image-class{
  background: transparent;
  background-repeat: no-repeat;
  float: right;
  width: 30%;
  height: 30%;
  margin-top: 100px;
}
.dashboard-card-class{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size:18px;
    margin-left : 100px;
    border-radius: 6px;
    box-shadow: 0 0 70px 0 rgba(0,0,0,.1);
    position: relative;
    height: 250px;
    width : 65%;
}
.dashboard-header {
  margin-top : 20px;
  margin-left  : 200px;
  text-align : center;
  font-size:  40px;
  font-weight: bolder;
  font-style: italic;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  color: #4F8198;
  font-weight: bold;
}
.host-dashboard-header{
  margin-top : 20px;
  margin-left  : 200px;
  text-align : center;
  font-size:  20px;
  font-weight: bolder;
  font-style: italic;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  color: #4F8198;
  font-weight: bold;

}
.list-inline {
  margin-left: 10px;
  margin-top: 10px;
}
.checkin-successs-class {
  margin-left: 700px;
  margin-top: -100px;
  position: fixed;
  width : 15%;
  height : 10%;
}
.booking-cancel-class{
  margin-left: 700px;
  margin-top: -100px;
  position: fixed;
  width : 15%;
  height : 10%;
}
.booking-success-class{
  margin-left: 700px;
  margin-top: -100px;
  position: fixed;
  width : 15%;
  height : 10%;
}
.past-successs-class{
  margin-left: 700px;
  margin-top: -100px;
  position: fixed;
  width : 15%;
  height : 10%;
}
.date-class-dashboard {
  width: 500px;
  position: fixed;
  margin-top: 15px;
}
.amount-class {
  color: #BC751F;
  font-size: 30px;
  font-style: italic, bolder;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.font {
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.month-type-dropdown {
    width: 13%;
    padding: 5px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    margin-left: 800px;
}
.property-id-dropdown {
    width:10%;
    padding: 5px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    margin-left: 590px;
    margin-top: 8px;
    position: fixed;
}
thead.active{
  margin-top: 0px;
  padding-top: 0px;
  padding:7px; border:black 2px 2px 2px 2px solid;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 20px;
}
.guest-billing-info{
  margin-top: 10px;
  height: 800px;
  width:80%;
  margin-left: 110px;
  position: fixed;
}
.dashboard-guest-heading{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	color: black;
  margin-top: 50px;
  color: #4F8198;
  font-weight: bold;
}
.return-back{
	margin-top: 1000px;
  color: black;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  color: #4F8198;
}
.table.table-hover{
  margin-top: 30px;
  width:100%;
  border-collapse:collapse;
  padding:7px; border:black 2px solid;
}
.dashboard_pagi{
    margin-left : 300px;
    margin-top: -50px;
}
.button{
  margin-top: 50px;
  margin-left: 900px;
  position: fixed;
}
